Toggle Label {
    display: none;
}

Toggle #unity-checkmark {
    width: 48px;
    height: 48px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
